*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2{
    color: rgb(252, 96, 13)
}
.slide-menu{
    position: fixed;
    background-color: #001c40;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.slide-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: #fff;
    display: flex;
    align-items: center;
}
.slide-menu li:hover{
    background-color: #fff;
    color: #001c40;
}
svg{
    width: 30px;
    height: 30px;
}
.container{
    position: absolute;
    right: 0;
    /* position: relative; */
    /* right: 0; */
    width: 80vw;
    height: 100vh;
    background: rgba(188, 183, 183, 0.2);
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #fff;
    display: flex;
}
i{
    color: rgb(252, 96, 13);
    
}
.header .nav{
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: space-between;
    
    
    width: 100%;
}
.nav svg{
    height: 25px;
    width: 25px;
}
.nav .search{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    width: 500px;
    background: rgba(188, 183, 183, 0.2);

    border-radius: 6px;
    border: 1px solid #001c40;
}
.nav .search svg{
    margin-right: 10px;
    cursor: pointer;
}
.nav .search input{
    border: none;
    outline: none;
    /* color: rgba(188, 183, 183, 0.2); */
    background: rgba(188, 183, 183, 0.025);
    width: 80%;
    height: 100%;
    line-height: 30px;
    margin-left: 10px;
    /* height: 100%;
    width: 100%; */
}

.nav .user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: relative; */
    /* right: 0; */
    width: 190px;
    background: rgba(188, 183, 183, 0.2);
    
    height: 46px;
    border: 1px solid #001c40;

    border-radius: 6px;
    margin-right: 30px;

}
.box{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 20vh;
    
}
.box .box-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16vw;
    height: 100%;
    /* border: 1px solid #001c40; */
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(123, 121, 121, 0.2);
}
.box-item svg{
    /* background-color: #ef9e60; */
    width: 22px;
    height: 22px;
}
.box-item .icon-cart {
    width: 40px;
    height: 40px;
    background-color: rgba(250, 212, 171, 0.6);
    border-radius: 6px;
}
.box-item .icon-cart svg{
    margin: 8px 0 0 8px ;
}
.box-item .content-in-box-item span{
    font-size: 35px;
    font-family: sans-serif
    
}
.content-in-box-item svg{
    
}
.content-in-box-item .small-text{
    display: flex;
    align-items: center;
}
.small-text h6{
    margin: 6px;
    font-size: 10px;
    font-weight: 400;
    color: #555
}